import type { ${BusinessName} } from './model';

import type { ID, IDS, PageQuery } from '#/api/common';

import { buildingQuery, commonExport } from '#/api/helper';
import { pb } from '#/api/request';

const collection = pb.collection<${BusinessName}>('${_businessName}');

/**
 * 新增${comment}
 * @param data 参数
 */
export function ${businessName}Add(data: Partial<${BusinessName}>) {
	return collection.create(data);
}

/**
 * 删除${comment}
 * @param ids id列表
 */
export function ${businessName}Remove(ids: IDS) {
	return Promise.all(ids.map((id) => collection.delete(`\${id}`)));
}

/**
 * 更新${comment}
 * @param data 参数
 */
export function ${businessName}Update(data: Partial<${BusinessName}>) {
	return collection.update(`\${data.id}`, data);
}

#if($tpl_category != 'tree')
/**
 * ${comment}分页列表
 * @param params 请求参数
 * @returns 列表
 */
export function ${businessName}List(params?: PageQuery) {
	const { filter, sort, pageSize, currentPage } = buildingQuery(params);
	return collection.getList(currentPage, pageSize, {
		filter,
		sort,
	});
}
#else
/**
 * ${comment}树
 * @param params 请求参数
 * @returns 树
 */
export function ${businessName}List(params?: PageQuery) {
	return collection.getFullList(buildingQuery(params));
	// return collection.getFullList(buildingQuery(params)).then(transformTree("${options.tree_code}", "${options.tree_parent_code}"));
}
#end

/**
 * ${comment}详情
 * @param id
 */
export function ${businessName}Info(id: ID) {
	return collection.getOne(`\${id}`);
}

#if($tpl_category != 'tree')
/**
 * 导出${comment}
 * @param params 请求参数
 */
export function ${businessName}Export(params?: PageQuery) {
	return commonExport('${businessName}', buildingQuery(params), { type: 'collection' });
}
#end
